#Force minimal environment 
language: bash

#Add `bsdtar` required by `repo-add`
addons:
  apt:
    packages:
    - bsdtar

branches:
  only:
    - master

script:
#   Get `repo-add`
#   fix bin path
  - |
    curl -L https://www.archlinux.org/packages/core/x86_64/pacman/download/ |tar xJf - usr/bin/repo-add --strip-components=2
    sed 's/\/usr\/bin\/bash/\/bin\/bash/' -i repo-add
#   GitHub credentials
  - git remote set-url origin https://$GITHUB_ACCESS_TOKEN@github.com/bartoszek/AUR-repo.git
#   Add packages
  - |
    while
      commit_message=$(git log --pretty="%s" --skip ${i:-0} -n 1)
      grep -qv "skip ci" <<<"$commit_message"
    do
      read pkgname pkgver <<<"$commit_message"
      echo "Update package $pkgname to version $pkgver"
      file=$pkgname*$pkgver*.pkg.tar.xz
      ./repo-add bartus.db.tar.xz -R $file
      git add $file
      ((i++))
    done
#   Skip if no new packge
  - |
    [ -z $i ] && { echo "Nothing to update!"; exit 10; }
#   Change symlink to copies (GitHub mediaserver doesn't provide content for symlink)
  - |
    rm bartus.db bartus.files
    cp bartus.db.tar.xz bartus.db
    cp bartus.files.tar.xz bartus.files

#   Update status table
  - ./.update.README.sh

#   Drop update if local HEAD detaches
  - |
    git checkout master || { echo "Abort: There's a new package(s) not include in this update"; exit 20; }
#   Commit changes
  - git commit -a -m "update repo db [skip ci]"
  - git push
